!
! No configuration change since last restart
!
version 12.4
parser config cache interface
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
service internal
service compress-config
service sequence-numbers
!
hostname UC520
!
boot-start-marker
boot-end-marker
!
logging message-counter syslog
enable secret 5 $1$TF.y$3E7pZ2szVvQw5JG8SDjNa1
!
aaa new-model
!
!
aaa authentication login default local
!
!
aaa session-id common
clock timezone PST -8
clock summer-time PST recurring
!
crypto pki trustpoint TP-self-signed-2055677031
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-2055677031
 revocation-check none
 rsakeypair TP-self-signed-2055677031
!
!
crypto pki certificate chain TP-self-signed-2055677031
 certificate self-signed 01
  3082023D 308201A6 A0030201 02020101 300D0609 2A864886 F70D0101 04050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 32303535 36373730 3331301E 170D3030 30313031 30303031 
  31365A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D32 30353536 
  37373033 3130819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  8100934F EED0CB61 0D691049 C52DEA74 D2DEFE95 03F7F302 AA563FCA 0E741849 
  C5629146 B47332D1 908D0C7B D6D3995B 3EB0592E D26269F3 1C6BCC06 CFBA6E4D 
  568E6E51 A70A9A3C D1A314F5 5C9BB66B 946EC5B2 293F2CCB 844D2896 387DBA3D 
  E873E955 D9AE3C76 7E62D5C3 8CF4B065 B65019A2 2CCE31C4 9C31736E 2EF9345E 
  51170203 010001A3 65306330 0F060355 1D130101 FF040530 030101FF 30100603 
  551D1104 09300782 05554335 3230301F 0603551D 23041830 16801454 FD27EC16 
  8B388832 CB566C5B 66F2DB56 2CBE9530 1D060355 1D0E0416 041454FD 27EC168B 
  388832CB 566C5B66 F2DB562C BE95300D 06092A86 4886F70D 01010405 00038181 
  002F0FD5 F3FD9532 E6E57F42 FED6D5E3 D989E9AE 19F585CF 7721BCBD 7E2325D3 
  10D41350 972C8FF3 AFEAC317 FB54BD15 58D0205B B62AA204 02B6F66B 7CFCB6A9 
  0E6A4ECC 7ADE1EA7 5A70E56E 60703A2E C66EE12F 6ADBE842 75932445 78FD834B 
  43B4A223 665A50CC 6207B46A 91252F23 4C07F2B6 035FC80C 08E487E3 4C94286E B6
  	quit
dot11 syslog
ip source-route
ip cef
!
!
ip dhcp relay information trust-all
ip dhcp excluded-address 10.1.1.1 10.1.1.10
ip dhcp excluded-address 192.168.10.1 192.168.10.10
!
ip dhcp pool phone
   network 10.1.1.0 255.255.255.0
   default-router 10.1.1.1 
   option 150 ip 10.1.1.1 
!
ip dhcp pool data
   import all
   network 192.168.10.0 255.255.255.0
   default-router 192.168.10.1 
!
!
ip inspect name SDM_LOW cuseeme
ip inspect name SDM_LOW dns
ip inspect name SDM_LOW ftp
ip inspect name SDM_LOW h323
ip inspect name SDM_LOW https
ip inspect name SDM_LOW icmp
ip inspect name SDM_LOW imap
ip inspect name SDM_LOW pop3
ip inspect name SDM_LOW netshow
ip inspect name SDM_LOW rcmd
ip inspect name SDM_LOW realaudio
ip inspect name SDM_LOW rtsp
ip inspect name SDM_LOW esmtp
ip inspect name SDM_LOW sqlnet
ip inspect name SDM_LOW streamworks
ip inspect name SDM_LOW tftp
ip inspect name SDM_LOW tcp
ip inspect name SDM_LOW udp router-traffic
ip inspect name SDM_LOW vdolive
!
no ipv6 cef
!
stcapp ccm-group 1
stcapp
multilink bundle-name authenticated
!
!
trunk group  ALL_FXO
 max-retry 5
 voice-class cause-code 1
 hunt-scheme longest-idle
!
!
voice call send-alert
voice rtp send-recv
!
voice service voip 
 allow-connections h323 to h323
 allow-connections h323 to sip
 allow-connections sip to h323
 allow-connections sip to sip
 supplementary-service h450.12
 sip
  registrar server expires max 600 min 60
  no update-callerid
!
!
voice class codec 1
 codec preference 1 g711ulaw
 codec preference 2 g729r8
!
!
!
!
!
!
!
voice class cause-code 1
 no-circuit
 !
 !
 !
 !
 !
 voice register global
 mode cme
 source-address 10.1.1.1 port 5060
 max-dn 56
 max-pool 14
!
!
voice translation-rule 1000
 rule 1 /.*/ //
!
!
voice translation-profile nondialable
 translate called 1000
!
!
voice-card 0
 no dspfarm
!
fax interface-type fax-mail
!
!
username cisco privilege 15 secret 5 $1$DaqN$iP32E5WcOOui/H66R63QB0
! 
!
!
archive
 log config
  logging enable
  logging size 600
  hidekeys
!
!
ip tftp source-interface Loopback0
ip ssh time-out 60
!
!
!
interface Loopback0
 description $FW_INSIDE$
 ip address 10.1.10.2 255.255.255.252
 ip access-group 101 in
 ip nat inside
 ip virtual-reassembly
!
interface FastEthernet0/0
 description $FW_OUTSIDE$
 ip address dhcp
 ip access-group 101 in
 ip nat outside
 ip inspect SDM_LOW out
 ip virtual-reassembly
 load-interval 30
 duplex auto
 speed auto
!
interface Integrated-Service-Engine0/0
 description cue is initialized with default IMAP group
 ip unnumbered Loopback0
 ip nat inside
 ip virtual-reassembly
 service-module ip address 10.1.10.1 255.255.255.252
 service-module ip default-gateway 10.1.10.2
!
interface FastEthernet0/1/0
 description Phone: 7945 (FCE)
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/1
 description Phone: 7931
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/2
 description Phone: 524
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/3
 description Phone: 7945
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/4
 description Uplink: LAN
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/5
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/6
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/7
 description VM Controller
 switchport voice vlan 100
 macro description cisco-phone
 spanning-tree portfast
!
interface FastEthernet0/1/8
 switchport mode trunk
 switchport voice vlan 100
 macro description cisco-switch
!
interface Vlan1
 description $FW_INSIDE$
 ip address 192.168.10.1 255.255.255.0
 ip access-group 102 in
 ip nat inside
 ip virtual-reassembly
!
interface Vlan100
 description $FW_INSIDE$
 ip address 10.1.1.1 255.255.255.0
 ip access-group 103 in
 ip nat inside
 ip virtual-reassembly
!
ip forward-protocol nd
ip route 10.1.10.1 255.255.255.255 Integrated-Service-Engine0/0
!
ip http server
ip http authentication local
ip http secure-server
ip http path flash:/gui
ip dns server
ip nat inside source list 1 interface FastEthernet0/0 overload
!
access-list 1 remark SDM_ACL Category=2
access-list 1 permit 10.1.1.0 0.0.0.255
access-list 1 permit 192.168.10.0 0.0.0.255
access-list 1 permit 10.1.10.0 0.0.0.3
access-list 100 remark auto generated by SDM firewall configuration
access-list 100 remark SDM_ACL Category=1
access-list 100 deny   ip 192.168.10.0 0.0.0.255 any
access-list 100 deny   ip host 255.255.255.255 any
access-list 100 deny   ip 127.0.0.0 0.255.255.255 any
access-list 100 permit ip any any
access-list 101 remark auto generated by SDM firewall configuration
access-list 101 remark SDM_ACL Category=1
access-list 101 permit tcp 10.1.1.0 0.0.0.255 eq 2000 any
access-list 101 permit udp 10.1.1.0 0.0.0.255 eq 2000 any
access-list 101 deny   ip 192.168.10.0 0.0.0.255 any
access-list 101 deny   ip 10.1.1.0 0.0.0.255 any
access-list 101 deny   ip host 255.255.255.255 any
access-list 101 deny   ip 127.0.0.0 0.255.255.255 any
access-list 101 permit ip any any
access-list 102 remark auto generated by SDM firewall configuration
access-list 102 remark SDM_ACL Category=1
access-list 102 deny   ip 10.1.10.0 0.0.0.3 any
access-list 102 deny   ip 10.1.1.0 0.0.0.255 any
access-list 102 deny   ip host 255.255.255.255 any
access-list 102 deny   ip 127.0.0.0 0.255.255.255 any
access-list 102 permit ip any any
access-list 103 remark auto generated by SDM firewall configuration
access-list 103 remark SDM_ACL Category=1
access-list 103 permit tcp 10.1.10.0 0.0.0.3 any eq 2000
access-list 103 permit udp 10.1.10.0 0.0.0.3 any eq 2000
access-list 103 permit udp any 10.1.10.0 0.0.0.3 range 16384 32767
access-list 103 permit udp 10.1.10.0 0.0.0.3 range 16384 32767 any
access-list 103 deny   ip 192.168.10.0 0.0.0.255 any
access-list 103 deny   ip host 255.255.255.255 any
access-list 103 deny   ip 127.0.0.0 0.255.255.255 any
access-list 103 permit ip any any
access-list 104 remark auto generated by SDM firewall configuration
access-list 104 remark SDM_ACL Category=1
access-list 104 deny   ip 10.1.10.0 0.0.0.3 any
access-list 104 deny   ip 192.168.10.0 0.0.0.255 any
access-list 104 deny   ip 10.1.1.0 0.0.0.255 any
access-list 104 permit udp any eq bootps any eq bootpc
access-list 104 permit icmp any any echo-reply
access-list 104 permit icmp any any time-exceeded
access-list 104 permit icmp any any unreachable
access-list 104 deny   ip 10.0.0.0 0.255.255.255 any
access-list 104 deny   ip 172.16.0.0 0.15.255.255 any
access-list 104 deny   ip 192.168.0.0 0.0.255.255 any
access-list 104 deny   ip 127.0.0.0 0.255.255.255 any
access-list 104 deny   ip host 255.255.255.255 any
access-list 104 deny   ip any any
access-list 104 permit tcp any any
access-list 104 permit icmp any any
access-list 104 permit ip any any
snmp-server community public RO
snmp-server community private RW
!
!
!
!
!
tftp-server flash:/phones/521_524/cp524g-8-1-17.bin alias cp524g-8-1-17.bin
tftp-server flash:/phones/7931/apps31.9-1-1TH1-16.sbn alias apps31.9-1-1TH1-16.sbn
tftp-server flash:/phones/7931/cnu31.9-1-1TH1-16.sbn alias cnu31.9-1-1TH1-16.sbn
tftp-server flash:/phones/7931/cvm31sccp.9-1-1TH1-16.sbn alias cvm31sccp.9-1-1TH1-16.sbn
tftp-server flash:/phones/7931/dsp31.9-1-1TH1-16.sbn alias dsp31.9-1-1TH1-16.sbn
tftp-server flash:/phones/7931/jar31sccp.9-1-1TH1-16.sbn alias jar31sccp.9-1-1TH1-16.sbn
tftp-server flash:/phones/7931/SCCP31.9-1-1SR1S.loads alias SCCP31.9-1-1SR1S.loads
tftp-server flash:/phones/7931/term31.default.loads alias term31.default.loads
tftp-server flash:/phones/7945_7965/apps45.9-1-1TH1-16.sbn alias apps45.9-1-1TH1-16.sbn
tftp-server flash:/phones/7945_7965/cnu45.9-1-1TH1-16.sbn alias cnu45.9-1-1TH1-16.sbn
tftp-server flash:/phones/7945_7965/cvm45sccp.9-1-1TH1-16.sbn alias cvm45sccp.9-1-1TH1-16.sbn
tftp-server flash:/phones/7945_7965/dsp45.9-1-1TH1-16.sbn alias dsp45.9-1-1TH1-16.sbn
tftp-server flash:/phones/7945_7965/jar45sccp.9-1-1TH1-16.sbn alias jar45sccp.9-1-1TH1-16.sbn
tftp-server flash:/phones/7945_7965/SCCP45.9-1-1SR1S.loads alias SCCP45.9-1-1SR1S.loads
tftp-server flash:/phones/7945_7965/term45.default.loads alias term45.default.loads
tftp-server flash:/phones/7945_7965/term65.default.loads alias term65.default.loads
tftp-server flash:/ringtones/Analog1.raw alias Analog1.raw
tftp-server flash:/ringtones/Analog2.raw alias Analog2.raw
tftp-server flash:/ringtones/AreYouThere.raw alias AreYouThere.raw
tftp-server flash:/ringtones/DistinctiveRingList.xml alias DistinctiveRingList.xml
tftp-server flash:/ringtones/RingList.xml alias RingList.xml
tftp-server flash:/ringtones/AreYouThereF.raw alias AreYouThereF.raw
tftp-server flash:/ringtones/Bass.raw alias Bass.raw
tftp-server flash:/ringtones/CallBack.raw alias CallBack.raw
tftp-server flash:/ringtones/Chime.raw alias Chime.raw
tftp-server flash:/ringtones/Classic1.raw alias Classic1.raw
tftp-server flash:/ringtones/Classic2.raw alias Classic2.raw
tftp-server flash:/ringtones/ClockShop.raw alias ClockShop.raw
tftp-server flash:/ringtones/Drums1.raw alias Drums1.raw
tftp-server flash:/ringtones/Drums2.raw alias Drums2.raw
tftp-server flash:/ringtones/FilmScore.raw alias FilmScore.raw
tftp-server flash:/ringtones/HarpSynth.raw alias HarpSynth.raw
tftp-server flash:/ringtones/Jamaica.raw alias Jamaica.raw
tftp-server flash:/ringtones/KotoEffect.raw alias KotoEffect.raw
tftp-server flash:/ringtones/MusicBox.raw alias MusicBox.raw
tftp-server flash:/ringtones/Piano1.raw alias Piano1.raw
tftp-server flash:/ringtones/Piano2.raw alias Piano2.raw
tftp-server flash:/ringtones/Pop.raw alias Pop.raw
tftp-server flash:/ringtones/Pulse1.raw alias Pulse1.raw
tftp-server flash:/ringtones/Ring1.raw alias Ring1.raw
tftp-server flash:/ringtones/Ring2.raw alias Ring2.raw
tftp-server flash:/ringtones/Ring3.raw alias Ring3.raw
tftp-server flash:/ringtones/Ring4.raw alias Ring4.raw
tftp-server flash:/ringtones/Ring5.raw alias Ring5.raw
tftp-server flash:/ringtones/Ring6.raw alias Ring6.raw
tftp-server flash:/ringtones/Ring7.raw alias Ring7.raw
tftp-server flash:/ringtones/Sax1.raw alias Sax1.raw
tftp-server flash:/ringtones/Sax2.raw alias Sax2.raw
tftp-server flash:/ringtones/Vibe.raw alias Vibe.raw
tftp-server flash:/Desktops/CampusNight.png
tftp-server flash:/Desktops/TN-CampusNight.png
tftp-server flash:/Desktops/CiscoFountain.png
tftp-server flash:/Desktops/TN-CiscoFountain.png
tftp-server flash:/Desktops/CiscoLogo.png
tftp-server flash:/Desktops/TN-CiscoLogo.png
tftp-server flash:/Desktops/Fountain.png
tftp-server flash:/Desktops/TN-Fountain.png
tftp-server flash:/Desktops/MorroRock.png
tftp-server flash:/Desktops/TN-MorroRock.png
tftp-server flash:/Desktops/NantucketFlowers.png
tftp-server flash:/Desktops/TN-NantucketFlowers.png
tftp-server flash:Desktops/320x212x16/List.xml
tftp-server flash:Desktops/320x212x12/List.xml
tftp-server flash:Desktops/320x216x16/List.xml
tftp-server flash:/bacdprompts/en_bacd_allagentsbusy.au alias en_bacd_allagentsbusy.au
tftp-server flash:/bacdprompts/en_bacd_disconnect.au alias en_bacd_disconnect.au
tftp-server flash:/bacdprompts/en_bacd_enter_dest.au alias en_bacd_enter_dest.au
tftp-server flash:/bacdprompts/en_bacd_invalidoption.au alias en_bacd_invalidoption.au
tftp-server flash:/bacdprompts/en_bacd_music_on_hold.au alias en_bacd_music_on_hold.au
tftp-server flash:/bacdprompts/en_bacd_options_menu.au alias en_bacd_options_menu.au
tftp-server flash:/bacdprompts/en_bacd_welcome.au alias en_bacd_welcome.au
tftp-server flash:/bacdprompts/en_bacd_xferto_operator.au alias en_bacd_xferto_operator.au
!
control-plane
!
!
!
voice-port 0/0/0
 caller-id enable
!
voice-port 0/0/1
 caller-id enable
!
voice-port 0/0/2
 caller-id enable
!
voice-port 0/0/3
 caller-id enable
!
voice-port 0/1/0
 trunk-group ALL_FXO 64
 connection plar 201
 caller-id enable
!
voice-port 0/1/1
 trunk-group ALL_FXO 64
 connection plar 202
 caller-id enable
!
voice-port 0/1/2
 trunk-group ALL_FXO 64
 connection plar 203
 caller-id enable
!
voice-port 0/1/3
 trunk-group ALL_FXO 64
 connection plar 204
 caller-id enable
!
voice-port 0/4/0
 auto-cut-through
 signal immediate
 input gain auto-control -15
 description Music On Hold Port
!
sccp local Loopback0
sccp ccm 10.1.1.1 identifier 1 
sccp
!
sccp ccm group 1
 associate ccm 1 priority 1
!
dial-peer cor custom
 name internal
 name local
 name local-plus
 name international
 name national
 name national-plus
 name emergency
 name toll-free
!
!
dial-peer cor list call-internal
 member internal
!
dial-peer cor list call-local
 member local
!
dial-peer cor list call-local-plus
 member local-plus
!
dial-peer cor list call-national
 member national
!
dial-peer cor list call-national-plus
 member national-plus
!
dial-peer cor list call-international
 member international
!
dial-peer cor list call-emergency
 member emergency
!
dial-peer cor list call-toll-free
 member toll-free
!
dial-peer cor list user-internal
 member internal
 member emergency
!
dial-peer cor list user-local
 member internal
 member local
 member emergency
 member toll-free
!
dial-peer cor list user-local-plus
 member internal
 member local
 member local-plus
 member emergency
 member toll-free
!
dial-peer cor list user-national
 member internal
 member local
 member local-plus
 member national
 member emergency
 member toll-free
!
dial-peer cor list user-national-plus
 member internal
 member local
 member local-plus
 member national
 member national-plus
 member emergency
 member toll-free
!
dial-peer cor list user-international
 member internal
 member local
 member local-plus
 member international
 member national
 member national-plus
 member emergency
 member toll-free
!
!
dial-peer voice 1 pots
 port 0/0/0
 no sip-register
!
dial-peer voice 2 pots
 port 0/0/1
 no sip-register
!
dial-peer voice 3 pots
 port 0/0/2
 no sip-register
!
dial-peer voice 4 pots
 port 0/0/3
 no sip-register
!
dial-peer voice 5 pots
 description ** MOH Port **
 destination-pattern ABC
 port 0/4/0
 no sip-register
!
dial-peer voice 6 pots
 description catch all dial peer for BRI/PRIv
 translation-profile incoming nondialable
 incoming called-number .%
 direct-inward-dial
!
dial-peer voice 50 pots
 description ** incoming dial peer **
 incoming called-number ^AAAA$
 port 0/1/0
!
dial-peer voice 51 pots
 description ** incoming dial peer **
 incoming called-number ^AAAA$
 port 0/1/1
!
dial-peer voice 52 pots
 description ** incoming dial peer **
 incoming called-number ^AAAA$
 port 0/1/2
!
dial-peer voice 53 pots
 description ** incoming dial peer **
 incoming called-number ^AAAA$
 port 0/1/3
!
dial-peer voice 54 pots
 description ** FXO pots dial-peer **
 destination-pattern A0
 port 0/1/0
 no sip-register
!
dial-peer voice 55 pots
 description ** FXO pots dial-peer **
 destination-pattern A1
 port 0/1/1
 no sip-register
!
dial-peer voice 56 pots
 description ** FXO pots dial-peer **
 destination-pattern A2
 port 0/1/2
 no sip-register
!
dial-peer voice 57 pots
 description ** FXO pots dial-peer **
 destination-pattern A3
 port 0/1/3
 no sip-register
!
dial-peer voice 2000 voip
 description ** cue voicemail pilot number **
 destination-pattern 399
 b2bua
 voice-class sip outbound-proxy ipv4:10.1.10.1 
 session protocol sipv2
 session target ipv4:10.1.10.1
 dtmf-relay rtp-nte
 codec g711ulaw
 no vad
!
dial-peer voice 2001 voip
 dtmf-relay rtp-nte
!
dial-peer voice 2012 voip
 dtmf-relay rtp-nte
!
!
no dial-peer outbound status-check pots
!
!
telephony-service
 video
 fxo hook-flash
 load 7931 SCCP31.9-1-1SR1S
 load 7945 SCCP45.9-1-1SR1S
 load 7965 SCCP45.9-1-1SR1S
 load 521G-524G cp524g-8-1-17
 max-ephones 14
 max-dn 56
 ip source-address 10.1.1.1 port 2000
 auto assign 1 to 1 type bri
 calling-number initiator
 service phone videoCapability 1
 service phone ehookenable 1
 service dnis overlay
 service dnis dir-lookup
 service dss
 timeouts interdigit 5
 system message UC520
 url services http://10.1.10.1/voiceview/common/login.do 
 url authentication http://10.1.10.2/CCMCIP/authenticate.asp  
 time-zone 5
 keepalive 30 auxiliary 4
 voicemail 399
 max-conferences 8 gain -6
 call-forward pattern .T
 call-forward system redirecting-expanded
 moh flash:/media/music-on-hold.au
 multicast moh 239.10.16.16 port 2000
 web admin system name cisco secret 5 $1$n/n0$q6wNrBypu0GDpxzfSwGnf1
 dn-webedit 
 time-webedit 
 transfer-system full-consult dss
 transfer-pattern 9.T
 transfer-pattern .T
 secondary-dialtone 9
 night-service day Sun 17:00 09:00
 night-service day Mon 17:00 09:00
 night-service day Tue 17:00 09:00
 night-service day Wed 17:00 09:00
 night-service day Thu 17:00 09:00
 night-service day Fri 17:00 09:00
 night-service day Sat 17:00 09:00
 fac standard
 create cnf-files version-stamp Jan 01 2002 00:00:00
!
!
ephone-template  15
 url services 1 http://10.1.10.1/voiceview/common/login.do VoiceviewExpress
 softkeys remote-in-use  Newcall
 softkeys idle  Redial Newcall Cfwdall Pickup Gpickup Dnd Login
 softkeys seized  Cfwdall Endcall Redial Pickup Gpickup Callback
 softkeys connected  Hold Endcall Trnsfer Confrn Acct Park
 button-layout 7931 2
!
!
ephone-template  16
 url services 1 http://10.1.10.1/voiceview/common/login.do VoiceviewExpress
 softkeys remote-in-use  Newcall
 softkeys idle  Redial Newcall Cfwdall Pickup Gpickup Dnd Login
 softkeys seized  Cfwdall Endcall Redial Pickup Gpickup Callback
 softkeys connected  Hold Endcall Trnsfer Confrn Acct Park
!
!
ephone-template  17
 url services 1 http://10.1.10.1/voiceview/common/login.do VoiceviewExpress
 softkeys remote-in-use  CBarge Newcall
 softkeys idle  Redial Newcall Cfwdall Pickup Gpickup Dnd Login
 softkeys seized  Cfwdall Endcall Redial Pickup Gpickup Callback
 softkeys connected  Hold Endcall Trnsfer Confrn Acct Park
!
!
ephone-template  18
 url services 1 http://10.1.10.1/voiceview/common/login.do VoiceviewExpress
 softkeys remote-in-use  CBarge Newcall
 softkeys idle  Redial Newcall Cfwdall Pickup Gpickup Dnd Login
 softkeys seized  Cfwdall Endcall Redial Pickup Gpickup Callback
 softkeys connected  Hold Endcall Trnsfer Confrn Acct Park
 button-layout 7931 2
!
!
ephone-dn  1
 number 101 no-reg primary
 description IP-Paging1
 name Everyone
 paging ip 239.1.1.1 port 2000
!
!
ephone-dn  9
 number BCD no-reg primary
 description MoH
 moh out-call ABC
!
!
ephone-dn  49
 number A691 no-reg primary
 name phone three
 intercom A642 label "phonethree"
!
!
ephone-dn  50
 number A642 no-reg primary
 name phone two
 intercom A691 label "phontwo"
!
!
ephone-dn  51  octo-line
 number 444 no-reg primary
 label 444
 name phone four
 call-forward busy 399
 call-forward noan 399 timeout 20
!
!
ephone-dn  52  dual-line
 number 333 no-reg primary
 label 333
 name phone three
!
!
ephone-dn  53  octo-line
 number 222 no-reg primary
 label 222
 name phone two
 call-forward busy 399
 call-forward noan 399 timeout 20
!
!
ephone-dn  54  octo-line
 number 111 no-reg primary
 label 111
 name phone one
 call-forward busy 399
 call-forward noan 399 timeout 20
!
!
ephone-dn  55
 number A801... no-reg primary
 mwi off
!
!
ephone-dn  56
 number A800... no-reg primary
 mwi on
!
!
ephone  1
 device-security-mode none
 mac-address 0023.331B.3188
 ephone-template 15
 username "phoneone" password 111111
 paging-dn 1
 codec g711ulaw
 type 7945
 button  1:54
!
!
!
ephone  2
 device-security-mode none
 mac-address 001B.D53D.9D4D
 ephone-template 15
 username "phonetwo" password 222222
 speed-dial 1 101 label "Paging"
 paging-dn 1
 codec g711ulaw
 type 7931
 button  1:53 2m54 3m52 4m51
 button  5w54 6w52 7w51 8:50
!
!
!
ephone  3
 device-security-mode none
 mac-address 001D.E5EA.9CD9
 ephone-template 16
 max-calls-per-button 2
 username "phonethree" password 333333
 paging-dn 1
 codec g711ulaw
 type 524G
 button  1:52 2:49
!
!
!
ephone  4
 device-security-mode none
 mac-address 0023.331B.7FCE
 ephone-template 16
 username "phonefour" password 444444
 paging-dn 1
 codec g711ulaw
 type 7945
 button  1:51
!
!
banner login ^CCisco Configuration Assistant. Version: 3.1 (1). Sat Oct 06 14:18:08 EDT 2018^C
alias exec cca_voice_mode PBX
!
line con 0
 no modem enable
line aux 0
line 2
 no activation-character
 no exec
 transport preferred none
 transport input all
line vty 0 4
 transport preferred none
 transport input ssh
line vty 5 100
 transport preferred none
 transport input all
!
ntp master
end
